

body {
  width: 800px;
  margin: 0 auto;
  background: #6fbdf2;
  font-size: 20px;
}

a {
  font-size: 22px;
}

.created {
  font-size: 16px;
  text-align: right;
  float: right
}

.tweet {
  height: 100%;
  margin: 15px 0;
}

header {
  top: 50%;
  left: 50%;
  text-shadow: 2px 2px #630a0a;
  text-align: center;
  font-size: 40px;
  padding: 25px;
  margin: 25px;
}

button {
  background: linear-gradient(to bottom, 
    rgba(208,228,247,1) 0%,
    rgba(115,177,231,1) 24%,
    rgba(10,119,213,1) 50%,
    rgba(83,159,225,1) 79%,
    rgba(135,188,234,1) 100%);
  text-shadow: 0.5px 0.5px #630a0a;
  height: 50px;
  width: 150px;
  font-size: 18px;
  float: right;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}








